* {
  list-style-type: none;
  margin: 0;
  border: 0;
  outline: none;
}
body {
  background-color: #6bd5e1;
  font-family: "Poppins", sans-serif;
}
.display {
  display: none;
}
img {
  width: 100px;
}

.btn {
  padding: 7px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #222831;
  color: #eeeeee;
}
.title {
  font-size: 100px;
  color: #ffffdd;
}
.nav {
  text-align: center;
}
img {
  margin-top: 50px;
}
.box-1 {
  background-color: #ffd98e;
  width: 350px;
  height: 100px;
  padding: 20px 20px 40px 40px;
  border-radius: 20px;
  line-height: 2;
  margin: 0 auto;
  border: 3px solid #222831;
}
label {
  font-size: 25px;
}
input {
  padding: 5px 2px;
  border-radius: 10px;
}
.show {
  text-align: center;
}
.circle {
  color: #eeeeee;
  background-color: #ffb677;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #222831;
  border-radius: 20px;
  font-size: 30px;
  margin: 2px auto;
}
.circle2 {
  color: #eeeeee;
  background-color: #ff8364;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #222831;
  border-radius: 20px;
  font-size: 30px;
  margin: 2px auto;
}
.elements {
  text-align: center;
}
.col {
  color: #eeeeee;
  font-size: 25px;
}
.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto;
  text-align: center;
  margin: 0 auto;
}

.poped {
  margin: 2px auto;
  width: 300px;
  font-size: 30px;
  color: #eeeeee;
}
.previousElement {
  text-align: center;
}
.stacked {
  font-size: 30px;
  color: #eeeeee;
}

@media screen and (max-width: 480px) {
  .grid-container {
    display: block;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    text-align: center;
    margin: 0 auto;
  }
}
.int {
  padding: 15px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #222831;
  color: #eeeeee;
}
.char {
  padding: 15px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #222831;
  color: #eeeeee;
}
